
html { overflow-y: scroll; } 

#divBody{
    height: 200%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.p {
    text-align: center;
    line-height: 100px;
}

#div1{
    height: 180px; 
    background: rgba(56, 55, 55, 0.779);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

body {
font-family: 'Francois One', sans-serif;
font-size: 15px;
font-weight: bold;
}

a:link, a:visited{
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
}

#div2{
    height: 70px; 
    background: rgba(9, 9, 9, 0.869);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#div3{
    height: 1000px;  
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#AboutUsTable{
    width: 100%;
    height: 100%;
    background-color: transparent; 
    justify-content: center;
    text-align: center;
}

#AboutUsTable td{
    overflow: hidden;
    width: 100%;
    height: 500%;
    background-color: transparent; 
    justify-content: center;
    text-align: center;
}

#divFooter { 
    height: 130px; 
    background: rgba(119, 117, 117, 0.779);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}